In [1]:
# Carrega as bibliotecas necessárias
%run '~/git/Bibliotecas.ipynb'

# 1- Fertilizantes

In [2]:
# Modifica o nome das colunas ligando elas ao nome da tabela
i=i_f_m_r_pa_clean=pd.read_csv(   '~/git/comex_sh_mun/temp/i_f_m_r_pa_clean.csv')\
.rename(columns={'KG_LIQUIDO':'KG_i_f','VL_FOB':'VL_i_f','NO_MUN':'NO_MUN_i_f','SH4':'SH4_f','CO_PAIS':'CO_PAIS_e_f'})
i.head(1)

   CO_ANO  CO_MES NO_MUN_i_f  SH4_f  CO_PAIS_e_f       KG_i_f  VL_i_f
0    2003       9    EXTREMA   3105          493  1754.385965     323

In [3]:
# Cria a coluna 'date', que servirá para o controle das bordas da matriz esparsa
i['date']=pd.to_datetime(i.CO_ANO.astype(str)+'/'+i.CO_MES.astype(str)+'/1')
i.sort_values('date')

,CO_ANO,CO_MES,NO_MUN_i_f,SH4_f,CO_PAIS_e_f,KG_i_f,VL_i_f,date
179,1997,1,POCOS DE CALDAS,3102,249,1000000.0,49700,1997-01-01
172,1997,2,POCOS DE CALDAS,3104,23,1000000.0,70500,1997-02-01
184,1997,4,POCOS DE CALDAS,3104,149,1000000.0,68000,1997-04-01
170,1997,4,CONGONHAL,3102,249,4750000.0,230375,1997-04-01
180,1997,4,POCOS DE CALDAS,3102,249,950000.0,47025,1997-04-01
...,...,...,...,...,...,...,...,...
169,2024,1,POUSO ALEGRE,3102,528,2000000.0,735800,2024-01-01
165,2024,1,POUSO ALEGRE,3102,59,1000000.0,304000,2024-01-01
164,2024,1,CAMBUI,3102,676,4393200.0,1714496,2024-01-01
166,2024,1,POUSO ALEGRE,3105,676,2750000.0,1423125,2024-01-01
168,2024,1,POUSO ALEGRE,3102,53,2750000.0,814633,2024-01-01

Os procedimeno a seguir tem objetivo de, ao transformar a base de dados em matriz esparsa, não permitir que as bordas ocupem datas não cobertas pela arquivo original

In [4]:
# Identifica as bordas
i_date_min=i.date.min()
print(i_date_min)
i_date_max=i.date.max()
print(i_date_max)

i_ano_min=i.CO_ANO.min()
i_ano_max=i.CO_ANO.max()

# Cria df com as datas completas
q_date=pd.DataFrame({'CO_ANO':np.arange(i_ano_min,i_ano_max+1),'key':0})\
.merge(pd.DataFrame({'CO_MES':np.arange(1,13),'key':0}),how='outer').drop(columns='key')

q_date['date']=pd.to_datetime(q_date.CO_ANO.astype(str)+'/'+q_date.CO_MES.astype(str)+'/1')

q_date=q_date[(q_date.date>=i_date_min)&(q_date.date<=i_date_max)]
q_date=q_date.date
q_date

1997-01-01 00:00:00
2024-01-01 00:00:00

0     1997-01-01
1     1997-02-01
2     1997-03-01
3     1997-04-01
4     1997-05-01
         ...
320   2023-09-01
321   2023-10-01
322   2023-11-01
323   2023-12-01
324   2024-01-01
Name: date, Length: 325, dtype: datetime64[ns]

In [5]:
# Mofifica a base de dados para o tipo 'categoria'
i[i.columns[1:5]]=i[i.columns[1:5]].astype('category')
i.head(1)

   CO_ANO CO_MES NO_MUN_i_f SH4_f CO_PAIS_e_f       KG_i_f  VL_i_f       date
0    2003      9    EXTREMA  3105         493  1754.385965     323 2003-09-01

In [6]:
# Cria  a matriz esparsa da base de dados
i_sprx=i.groupby(by=i.columns[:5].tolist())[i.columns[5:-1].tolist()].sum().reset_index()
#i_sprx=i_sprx.set_index('CO_ANO')
i_sprx['date']=pd.to_datetime(i_sprx.CO_ANO.astype(str)+'/'+i_sprx.CO_MES.astype(str)+'/1')
i_s=i_sprx

In [7]:
i_s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235872 entries, 0 to 235871
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   CO_ANO       235872 non-null  int64
 1   CO_MES       235872 non-null  category
 2   NO_MUN_i_f   235872 non-null  category
 3   SH4_f        235872 non-null  category
 4   CO_PAIS_e_f  235872 non-null  category
 5   KG_i_f       235872 non-null  float64
 6   VL_i_f       235872 non-null  int64
 7   date         235872 non-null  datetime64[ns]
dtypes: category(4), datetime64[ns](1), float64(1), int64(2)
memory usage: 8.1 MB

In [8]:
# Limita a matriz esparsa ao quadro de datas
i_s=i_s.merge(q_date)

In [9]:
i_s=i_s.sort_values('date').drop(columns='date')
i_s

        CO_ANO CO_MES    NO_MUN_i_f SH4_f CO_PAIS_e_f  KG_i_f  VL_i_f
0         1997      1        CAMBUI  3102          23     0.0       0
463       1997      1   MARIA DA FE  3105         603     0.0       0
464       1997      1   MARIA DA FE  3105         628     0.0       0
465       1997      1   MARIA DA FE  3105         676     0.0       0
466       1997      1   MARIA DA FE  3105         741     0.0       0
...        ...    ...           ...   ...         ...     ...     ...
227683    2024      1       EXTREMA  3102          53     0.0       0
227684    2024      1       EXTREMA  3102          59     0.0       0
227685    2024      1       EXTREMA  3102          63     0.0       0
227677    2024      1     CONGONHAL  3105         603     0.0       0
228149    2024      1  POUSO ALEGRE  3105         831     0.0       0

[228150 rows x 7 columns]

In [10]:
i_s[['CO_MES','NO_MUN_i_f','SH4_f','CO_PAIS_e_f']]=i_s[['CO_MES','NO_MUN_i_f','SH4_f','CO_PAIS_e_f']].astype(str)

In [11]:
i_s['x']=i_s['CO_MES'].str.cat(i_s[['NO_MUN_i_f','SH4_f','CO_PAIS_e_f']],sep='-')

In [12]:
i_s.head(1)

,CO_ANO,CO_MES,NO_MUN_i_f,SH4_f,CO_PAIS_e_f,KG_i_f,VL_i_f,x
0,1997,1,CAMBUI,3102,23,0.0,0,1-CAMBUI-3102-23

In [13]:
k=i_s.groupby('CO_ANO').KG_i_f.sum().reset_index().merge(i_s.pivot(index='CO_ANO',columns=['x'],values='KG_i_f').reset_index())
k.head(1)

,CO_ANO,KG_i_f,1-CAMBUI-3102-137,1-CAMBUI-3102-149,1-CAMBUI-3102-154,1-CAMBUI-3102-158,1-CAMBUI-3102-160,1-CAMBUI-3102-190,1-CAMBUI-3102-198,1-CAMBUI-3102-23,...,9-POUSO ALEGRE-3105-63,9-POUSO ALEGRE-3105-676,9-POUSO ALEGRE-3105-69,9-POUSO ALEGRE-3105-73,9-POUSO ALEGRE-3105-741,9-POUSO ALEGRE-3105-80,9-POUSO ALEGRE-3105-831,9-POUSO ALEGRE-3105-85,9-POUSO ALEGRE-3105-87,9-POUSO ALEGRE-3105-97
0,1997,60991400.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
y=k.iloc[:,:2]
y.head(1)

   CO_ANO      KG_i_f
0    1997  60991400.0

In [15]:
w=k.drop(columns='KG_i_f')
w.CO_ANO=w.CO_ANO+1

In [16]:
z=y.merge(w,how='outer').sort_values('CO_ANO').iloc[1:-1,:]
z

,CO_ANO,KG_i_f,1-CAMBUI-3102-137,1-CAMBUI-3102-149,1-CAMBUI-3102-154,1-CAMBUI-3102-158,1-CAMBUI-3102-160,1-CAMBUI-3102-190,1-CAMBUI-3102-198,1-CAMBUI-3102-23,...,9-POUSO ALEGRE-3105-63,9-POUSO ALEGRE-3105-676,9-POUSO ALEGRE-3105-69,9-POUSO ALEGRE-3105-73,9-POUSO ALEGRE-3105-741,9-POUSO ALEGRE-3105-80,9-POUSO ALEGRE-3105-831,9-POUSO ALEGRE-3105-85,9-POUSO ALEGRE-3105-87,9-POUSO ALEGRE-3105-97
1,1998,4.246134e+07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1999,1.300469e+07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2000,6.981132e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2001,2.918182e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2002,2.285848e+07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2003,9.857548e+07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,2004,4.702880e+07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,2005,3.696599e+07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,2006,5.967222e+07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,2007,1.361814e+08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,2008,1.007460e+08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,2009,5.661160e+07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,2010,1.568278e+08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,2011,1.549761e+08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,2012,1.009529e+08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,2013,9.984356e+07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,2014,9.625470e+07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,2015,1.025004e+08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,2016,1.462324e+08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,2017,1.524793e+08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,2018,1.218300e+08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,2019,1.577778e+08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,2020,1.105631e+08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,2021,1.726425e+08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,2022,1.081884e+08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,2023,1.086324e+08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,2024,1.729320e+07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.101923e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
train=z[z.CO_ANO!=2024]
test=z[z.CO_ANO==2024]
X_train=train.drop(columns='KG_i_f')
y_train=train.KG_i_f
X_test=test.drop(columns='KG_i_f')
from sklearn.ensemble import RandomForestRegressor as RFR
RFR=RFR(random_state=123)
RFR.fit(X_train, y_train)
RFR.predict(X_test)

array([1.24010655e+08])