In [1]:
%run '~/git/Bibliotecas.ipynb'

In [2]:
r=pd.read_csv('~/git/Importacao-por-SH-e-Municipio/temp/q1.csv')
r

,ano_tipo,ano_ini_treino,ano_fim_treino,duração_treino,c_l,y_test_f,test_f_LR,test_f_RFR,test_f%_LR,test_f%_RFR
0,Ano1,2008,2013,5,rel_preço_ad,71.228923,78.674632,98.332447,10.0,38.0
1,Ano1,2008,2013,5,mm_ad,71.228923,77.037154,56.518282,8.0,-21.0
2,Ano1,2008,2013,5,miFOB_f_ad,71.228923,87.953915,82.161232,23.0,15.0
3,Ano1,2008,2013,5,KT_c_ad,71.228923,-38.883329,50.506497,-155.0,-29.0
4,Ano1,2008,2013,5,miFOB_c_ad,71.228923,77.677716,81.821664,9.0,15.0
...,...,...,...,...,...,...,...,...,...,...
3250,Ano10,2008,2021,13,"rel_preço_ad,mm_ad,miFOB_f_ad,miFOB_c_ad",95.704447,99.945028,102.340616,4.0,7.0
3251,Ano10,2008,2021,13,"rel_preço_ad,mm_ad,KT_c_ad,miFOB_c_ad",95.704447,-79.823155,110.006555,-183.0,15.0
3252,Ano10,2008,2021,13,"rel_preço_ad,miFOB_f_ad,KT_c_ad,miFOB_c_ad",95.704447,-82.963353,111.329698,-187.0,16.0
3253,Ano10,2008,2021,13,"mm_ad,miFOB_f_ad,KT_c_ad,miFOB_c_ad",95.704447,72.694794,107.167982,-24.0,12.0
3254,Ano10,2008,2021,13,"rel_preço_ad,mm_ad,miFOB_f_ad,KT_c_ad,miFOB_c_ad",95.704447,-79.621543,108.506979,-183.0,13.0

In [3]:
col=r.columns[[0,3,4]].tolist()
col

['ano_tipo', 'duração_treino', 'c_l']

In [4]:
best=pd.DataFrame()
for c1 in col:
    a=np.abs(r.groupby(c1)[['test_f%_RFR']].mean()).rename(columns={'test_f%_RFR':'media_erro%'})

    b=np.abs(r.groupby(c1)[['test_f%_RFR']].std()).rename(columns={'test_f%_RFR':'std_erro%'})

    c=round(pd.concat([a,b],axis=1))

    c['erro_max']=c['media_erro%']+c['std_erro%']
    c=c.sort_values(by='erro_max').reset_index(drop=False)
    display(c)
    #display(c.loc[0,c1])
    best=pd.concat([best,c[[c1]].iloc[0]])
best=best.transpose()
display(best)

  ano_tipo  media_erro%  std_erro%  erro_max
0     Ano1          8.0       19.0      27.0
1     Ano4          6.0       23.0      29.0
2    Ano10          7.0       23.0      30.0
3     Ano7          1.0       35.0      36.0

   duração_treino  media_erro%  std_erro%  erro_max
0               5          5.0       24.0      29.0
1               9          6.0       25.0      31.0
2              11          4.0       28.0      32.0
3               7         10.0       25.0      35.0
4              13         14.0       25.0      39.0

,c_l,media_erro%,std_erro%,erro_max
0,"mm_ad,KT_c_ad,miFOB_c_ad",2.0,25.0,27.0
1,"rel_preço_ad,mm_ad,KT_c_ad,miFOB_c_ad",3.0,25.0,28.0
2,"rel_preço_ad,KT_c_ad,miFOB_c_ad",1.0,27.0,28.0
3,"rel_preço_ad,KT_c_ad",0.0,28.0,28.0
4,"mm_ad,miFOB_f_ad,KT_c_ad,miFOB_c_ad",4.0,24.0,28.0
5,"miFOB_f_ad,KT_c_ad,miFOB_c_ad",2.0,26.0,28.0
6,"mm_ad,KT_c_ad",1.0,27.0,28.0
7,"rel_preço_ad,mm_ad,miFOB_f_ad,KT_c_ad,miFOB_c_ad",5.0,24.0,29.0
8,"mm_ad,miFOB_f_ad,KT_c_ad",4.0,25.0,29.0
9,"rel_preço_ad,miFOB_f_ad,KT_c_ad,miFOB_c_ad",4.0,25.0,29.0
10,"rel_preço_ad,miFOB_f_ad,KT_c_ad",3.0,26.0,29.0
11,"rel_preço_ad,mm_ad,miFOB_f_ad,KT_c_ad",5.0,24.0,29.0
12,miFOB_c_ad,5.0,24.0,29.0
13,"rel_preço_ad,mm_ad,KT_c_ad",3.0,26.0,29.0
14,"miFOB_f_ad,miFOB_c_ad",7.0,23.0,30.0
15,"miFOB_f_ad,KT_c_ad",2.0,28.0,30.0
16,"rel_preço_ad,miFOB_c_ad",6.0,24.0,30.0
17,"mm_ad,miFOB_c_ad",7.0,23.0,30.0
18,"rel_preço_ad,mm_ad,miFOB_c_ad",8.0,23.0,31.0
19,"mm_ad,miFOB_f_ad,miFOB_c_ad",8.0,23.0,31.0
20,"KT_c_ad,miFOB_c_ad",2.0,29.0,31.0
21,"rel_preço_ad,mm_ad,miFOB_f_ad,miFOB_c_ad",9.0,23.0,32.0
22,"rel_preço_ad,miFOB_f_ad,miFOB_c_ad",8.0,24.0,32.0
23,rel_preço_ad,10.0,24.0,34.0
24,"rel_preço_ad,mm_ad",11.0,23.0,34.0
25,"rel_preço_ad,miFOB_f_ad",11.0,24.0,35.0
26,"mm_ad,miFOB_f_ad",12.0,24.0,36.0
27,mm_ad,12.0,24.0,36.0
28,"rel_preço_ad,mm_ad,miFOB_f_ad",12.0,24.0,36.0
29,miFOB_f_ad,12.0,24.0,36.0
30,KT_c_ad,5.0,34.0,39.0

  ano_tipo duração_treino                       c_l
0     Ano1              5  mm_ad,KT_c_ad,miFOB_c_ad

In [5]:
best.to_csv('~/git/Importacao-por-SH-e-Municipio/temp/best.csv',index=False)

In [6]:
r_b=r.merge(best)
r_b

,ano_tipo,ano_ini_treino,ano_fim_treino,duração_treino,c_l,y_test_f,test_f_LR,test_f_RFR,test_f%_LR,test_f%_RFR
0,Ano1,2008,2013,5,"mm_ad,KT_c_ad,miFOB_c_ad",71.228923,-49.392721,53.634538,-169.0,-25.0
1,Ano1,2009,2014,5,"mm_ad,KT_c_ad,miFOB_c_ad",75.850326,47.443478,73.475379,-37.0,-3.0
2,Ano1,2010,2015,5,"mm_ad,KT_c_ad,miFOB_c_ad",109.674322,65.128047,74.120969,-41.0,-32.0
3,Ano1,2011,2016,5,"mm_ad,KT_c_ad,miFOB_c_ad",117.409059,106.776104,96.093350,-9.0,-18.0
4,Ano1,2012,2017,5,"mm_ad,KT_c_ad,miFOB_c_ad",95.029391,45.942028,98.976488,-52.0,4.0
5,Ano1,2013,2018,5,"mm_ad,KT_c_ad,miFOB_c_ad",126.527277,199.082508,111.632760,57.0,-12.0
6,Ano1,2014,2019,5,"mm_ad,KT_c_ad,miFOB_c_ad",89.557108,145.624209,117.245870,63.0,31.0
7,Ano1,2015,2020,5,"mm_ad,KT_c_ad,miFOB_c_ad",150.758876,90.847839,107.096633,-40.0,-29.0
8,Ano1,2016,2021,5,"mm_ad,KT_c_ad,miFOB_c_ad",104.983896,105.488963,115.268333,0.0,10.0
9,Ano1,2017,2022,5,"mm_ad,KT_c_ad,miFOB_c_ad",104.633487,621.927895,112.175113,494.0,7.0

In [7]:
r_b['test_f%_RFR'].mean()

-6.7

In [8]:
r_b['test_f%_RFR'].std()

20.12212712413874